<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.UserMapper" >
    <insert id="insert" parameterType="com.ssm.domain.User">
        insert into whh values (#{name})
    </insert>
    <select id="selectAll" resultType="com.ssm.domain.User">
        select name from whh
    </select>

    <select id="selectByPage" resultType="com.ssm.domain.User">
        select name from whh
    </select>
</mapper>